.popup
	a.close(href="#/main")
	.content#chart
		.charts
			.column(ng-repeat="user in users", id="{{user.name}}")
				.cookie
				.filler(ng-style="itemStyle(user._id, 'height')")
				.label(ng-style="itemStyle(user._id, 'bottom')") {{Math.round ((user.votes / totalVotes) * 100)}}
				.title(style="bottom: -40px") {{user.description}}