.popup
	a.close(href="#/main")
	.content#chart
		.charts
			.column(ng-repeat="user in users", id="{{user.name}}")
				.cookie
				.filler(style="height: {{user.height}}px;")
				.label(style="bottom: {{user.height}}px;") {{Math.round ((user.votes / totalVotes) * 100)}}
				.title(style="bottom: -40px") {{user.description}}