form
	input#username(type="text", name="username", placeholder="username", ng-model="username")
	input#password(type="password", name="password", placeholder="password", ng-model="password")
	input(type="submit", ng-click="loginSubmit()")