#elm_banner(class="{{videoName}}")

#elm_plane.animated.plane

#elm_message.animated.bounceInDown

#thumbs
	.thumb(ng-repeat="user in thumbs", id="{{user.name}}", class="item_{{$index}} item_{{user.name}}")
		a.video(ng-click="setVideo($index)") &nbsp;
		a.share(ng-click="shareFB(user.name);") &nbsp;

#gilogo(style="position: absolute; left: 21px; top: 280px;")
	img(src="images/gilogo.png", width="20")
#main_player
	#video
		iframe(width="703", height="399", src="http://www.youtube.com/embed/{{videoId}}?feature=oembed&autoplay=1&rel=0&wmode=transparent",frameborder="0",allowfullscreen)
#elm_pack
#elm_logo
.dock
	ul
		li
			a.navItem(href="https://www.facebook.com/pages/%D7%A7%D7%95%D7%A7%D7%95%D7%9E%D7%9F-Cocoman/112857262133769", target="_blank", ng-click="track('FACEBOOK')")
				img(src="images/main_menu_fb.png", border="0", width="51", height="54")
			.navTitle לעמוד קוקומן
		li
			a.navItem(href="#/leaders", ng-click="track('WINNERS')")
				img(src="images/main_menu_leaders.png", border="0", width="51", height="54")
			.navTitle זוכים
		li
			a.navItem(href="#/guide", ng-click="track('HOW TO')")
				img(src="images/main_menu_guide.png", border="0", width="51", height="54")
			.navTitle איך משתתפים
		li
			a.navItem(href="#/prizes", ng-click="track('Awards')")
				img(src="images/main_menu_prizes.png", border="0", width="51", height="54")
			.navTitle הפרסים
		li
			a.navItem(href="#/about", ng-click="track('COCOMAN Cookies')")
				img(src="images/main_menu_about.png", border="0", width="51", height="54")
			.navTitle הכירו את קוקיס
		li
			a.navItem(href="#/chart", ng-click="track('Results')")
				img(src="images/main_menu_chart.png", border="0", width="51", height="54")
			.navTitle תוצאות ההצבעה
a#legal(href="/docs/takanon.pdf", target="_blank") תקנון
