h3 Vote

.back
	a(href="#/main") back

form.form-horizontal(name="registerForm", novalidate)
	.radio(ng-repeat="user in users")
		input(type="radio", name="user", value="{{user._id}}", ng-model="registerObj.voted_user", id="user_{{$index}}", required)
		label(for="user_{{$index}}") {{user.name}}
	.control-group
		label.control-label slogan
		.controls
			input(type="text", name="slogan", ng-model="registerObj.slogan", required)
	.control-group
		label.control-label name
		.controls
			input(type="text", name="name", ng-model="registerObj.name", required)
	.control-group
		label.control-label email
		.controls
			input(type="email", name="email", ng-model="registerObj.email", required)
	.control-group
		label.control-label phone
		.controls
			input(type="tel", name="phone", ng-model="registerObj.phone", required)
	.control-group
		.controls
			label.checkbox i agree to the terms
			input(type="checkbox", name="terms", value="true", ng-model="terms", required)
		.controls
			label.checkbox i agree to emails
			input(type="checkbox", name="marketing", value="true", ng-model="marketing", required)
	.control-group
		.controls
			input(type="submit", ng-disabled="registerForm.$invalid", ng-click="register()")