.popup
	a.close(href="#/main")
	.content#vote
		form#voteForm(name="registerForm", novalidate, ng-submit="register(registerForm)")
			.radios
				.radio(ng-repeat="user in users", id="{{user.name}}")
					input.radioInput(type="radio", name="user", value="{{user._id}}", ng-model="registerObj.voted_user", id="user_{{$index}}", required)
					label.radioLabel(for="user_{{$index}}", ng-click="setVotedUser($index, user._id)", id="label_{{$index}}")
					.cookie
			.vote_error(ng-show="vote_error")
			input#slogan(type="text", name="slogan", id="slogan", ng-model="registerObj.slogan", required)
			input#name(type="text", name="name", id="name", ng-model="registerObj.name", required)
			input#email(type="email", name="email", id="email", ng-model="registerObj.email", required)
			input#age(type="number", name="age", id="age", ng-model="registerObj.age", min="1", required)
			input#phone(type="tel", name="phone", id="phone", ng-model="registerObj.phone", required)
			input#submit(type="submit", value="&nbsp;")
			#print
				input#male(type="radio", name="gender", value="male", ng-model="registerObj.gender", checked)
				label(for="male") אני בן
				input#fem(type="radio", name="gender", value="female", ng-model="registerObj.gender")
				label(for="fem") אני בת
				input#marketing(type="checkbox", name="marketing", value="true", ng-model="registerObj.marketing")
				label(for="marketing") אני מאשר\ת לקבל דיוורים מיוניליוור ישראל
				input#terms(type="checkbox", name="terms", value="true", ng-model="terms", required)
				label(for="terms") 
					span אני מאשר\ת כי קראתי את 
					span
						a(href="/docs/takanon.pdf", target="_blank") התקנון
					span  והסכמתי לתנאיו