.popup
	a.close(href="#/main")
	.content#vote
		form#voteForm(name="registerForm", novalidate)
			.radios
				.radio(ng-repeat="user in users", id="{{user.name}}")
					input.radioInput(type="radio", name="user", value="{{user._id}}", ng-model="registerObj.voted_user", id="user_{{$index}}", required)
					label(for="user_{{$index}}")
					.cookie
			input#slogan(type="text", name="slogan", ng-model="registerObj.slogan", required)
			input#name(type="text", name="name", ng-model="registerObj.name", required)
			input#email(type="email", name="email", ng-model="registerObj.email", required)
			input#age(type="number", name="age", ng-model="registerObj.age", min="1", required)
			input#phone(type="tel", name="phone", ng-model="registerObj.phone", required)
			input#submit(type="submit", ng-disabled="registerForm.$invalid", ng-click="register()", value="&nbsp;")
			#print
				input#male(type="radio", name="gender", value="male", checked)
				label(for="male") אני בן
				input#fem(type="radio", name="gender", value="female")
				label(for="fem") אני בת
				input#marketing(type="checkbox", name="marketing", value="true", ng-model="marketing", required)
				label(for="marketing") אני מאשר\ת לקבל דיוורים מיניליוור ישראל
				input#terms(type="checkbox", name="terms", value="true", ng-model="terms", required)
				label(for="terms") 
					span אני מאשר\ת כי קראתי את 
					span
						a(href="/docs/takanon.pdf", target="_blank") התקנון
					span  והסכמתי לתנאיו