doctype 5
html(ng-app="klikVote", ng-controller="GlobalCtrl")
	head
		title klikVote
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/black-tie/jquery-ui.css')
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css")
		script(src="/socket.io/socket.io.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js")
		script(src="/javascripts/vendor/angular-ui.min.js")
		script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
		script(src="/javascripts/app.js")
		script(src="/javascripts/controllers.js")
		script
			var socket = io.connect('//');
	body
		ul#nav
			li
				a(href="#/main") main
			li
				a(href="#/stats") statistics
		#wrapper(ng-view)