doctype 5
html(ng-app="telmaCookies", ng-controller="GlobalCtrl", class="{{glob.mode}}")
	head
		title(ng-bind="settings.title") loading...
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/animate-custom.css')
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js")
		script(src="//code.angularjs.org/1.0.3/angular-cookies.min.js")
		script(src="/javascripts/app.js")
		script(src="/javascripts/controllers.js")
	body
		script
			window.fbAsyncInit = function() {FB.init({appId:'400945883326811',channelUrl:'//WWW.YOUR_DOMAIN.COM/channel.html',status:true,cookie:true,xfbml:true});};
			(function(d, debug){
				var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement('script'); js.id = id; js.async = true;
				js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
				ref.parentNode.insertBefore(js, ref);
			}(document, /*debug*/ false));
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33644543-1']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		#wrapper(ng-view) loading...