.clear{clear:both;}
.page{width:940px;margin:0 auto;background:white;}
@media (min-width:768px) and (max-width:979px){.page{width:724px;} .hero-unit>img{zoom:.6;} .browsers-icons img{zoom:.8;}}@media (max-width:767px){.page{width:100%;}}
