h1 Nominees

table
	tr
		th image
		th name
		th number of votes
		th link
	tr(ng-repeat="user in users")
		td {{user.image}}
		td {{user.name}}	
		td {{user.votes}}
		td() 
			a(href="#/nominee/{{user._id}}") view