h1 nominee

.image image
.name {{user.name}}
.video {{user.video}}
.votes {{user.votes.length}}

table
	tr
		th slogan
		th name
		th phone
		th email
		th reference
		th date
	tr(ng-repeat="vote in voters")
		td {{vote.slogan}}
		td {{vote.name}}
		td {{vote.phone}}
		td {{vote.email}}
		td {{vote.ref}}
		td {{vote.dateCreated | date}}