h3 Application settings

.title 
	h3 general
	.view
		div mode: {{settings.modeState}}
		div application title: {{settings.title}}
	.edit
		form(name="settingsTitleForm")
			.row title:
				input(type="text", name="title", value="{{settings.title}}", ng-model="settings.title", required)
				button(ng-click="save('title')", ng-disabled="settingsTitleForm.$invalid") save
		.row application mode:
			button(ng-click="save('toggle')") enable/disable 
			span {{settings.modeState}}
		form(name="settingsForm")
			h4 facebook
			.shareTitle share title:
				input(type="text", name="shareTitle", ng-model="settings.facebook.shareTitle", required)
			.shareText share text:
				input(type="text", name="shareText", ng-model="settings.facebook.shareText", required)
			.shareRef share reference:
				input(type="number", name="shareRef", ng-model="settings.facebook.shareReference", required)
			.save
				button(ng-click="save('facebook')", ng-disabled="settingsForm.$invalid") save

.title 
	h3 nominees
	.user(ng-repeat="user in users")
		.form(ng-form,name="userForm")
			.name name:
				input(type="text", name="name", value="{{user.name}}", ng-model="users[$index].name", required)
			.video video id:
				input(type="text", name="videoId", value="{{user.videoId}}", ng-change="formInvalid(userForm, users[$index].videoId)", ng-model="users[$index].videoId", required)
			.videoPreview
				iframe(width="480", height="270", src="http://www.youtube.com/embed/{{user.videoId}}?feature=oembed",frameborder="0",allowfullscreen)
			.description description:
				textarea(name="description", ng-model="users[$index].description", required) {{user.description}}
			h4 facebook
			.shareTitle share title:
				input(type="text", name="shareTitle", ng-model="users[$index].facebook.shareTitle", required)
			.shareText share text:
				input(type="text", name="shareText", ng-model="users[$index].facebook.shareText", required)
			.shareRef share reference:
				input(type="number", name="shareRef", ng-model="users[$index].facebook.shareReference", required)			
			.save
				button(ng-click="updateUser($index)", ng-disabled="userForm.$invalid") save