h1 Voters

span download
	a(href="api/createCSV", download="voters.csv") csv
table
	tr
		th slogan
		th name
		th phone
		th email
		th age
		th gender
		th marketing
		th reference
		th date
	tr(ng-repeat="vote in voters")
		td {{vote.slogan}}
		td {{vote.name}}
		td {{vote.phone}}
		td {{vote.email}}
		td {{vote.age}}
		td {{vote.gender}}
		td {{vote.marketing}}
		td {{vote.ref}}
		td {{vote.dateCreated | date}}